<h1>Listing tasks</h1>



<div id="header">
  <h1>Dynamic Task Manager</h1>

  <h2>Create tasks and track their progress</h2>
</div>

  <hr id="header_stripe"/>
  <div id="page_container">
  <div id="toppanel">
    <div id="panel">
    <div id="panel_contents"> </div>


      <h1>Task Generator</h1>
      <h2> Assign tasks to team members</h2>   
      <div class="border" id="login">
      <form id="taskGen">
		<ul class="taskForm">
      		<li>
				<label for="task">Task:</label>
				<input id="task" name="task" type="text" placeholder="Type task here"></input></li> <!--autofocus???-->
			<li>
				<label for="assignedTo">Assigned To:</label>
				<input id="assignedTo" name="assignedTo" type="text" placeholder="Jane Smith"></input></li>			
			<li>
				<label for="datetime">Start Date:</label>
				<input id="datetime" name="datetime" type="date"></input></li>			
			<li>
				<label for="taskNotes">Task Notes:</label>
				<input id="taskNotes" name="taskNotes" type="text" placeholder="Task description..."></input></li>
	        <li>
	        	<label for="priorityLevel">Priority:</label>

					<select id="priorityLevel" name="priorityLevel">
					  <option value ="1">1</option>
					  <option value ="2">2</option>
					  <option value ="3">3</option>
					  <option value ="5">5</option>
					  <option value ="8">8</option>
					  <option value ="13">13</option>
					  <option value ="20">20</option>
					</select>

	</li>
			<li>
		        <label for="loe">Level Of Effort:</label>

					<select id="loe" name="loe">
						  <option value ="low">Low</option>
						  <option value ="medium">Medium</option>
						  <option value ="high">High</option>
					</select></li>
					
            <li><input type="submit" value="Submit"/></li>
        </ul>
        </form>
      </div>
      
    </div>
    <div class="panel_button" style="display: visible;"><img src="images/expand.png"  alt="expand"/> <a href="#">Add Task</a> </div>
    <div class="panel_button" id="hide_button" style="display: none;"><img src="images/collapse.png" alt="collapse" /> <a href="#">Hide</a> </div>

  </div>
  
  <div id="content">
    <p></p>
    
     <form>
            <fieldset>
                <legend>Project Tasks</legend> 

                <p>This is a test to see if i can replicate the task boards at work.</p>


		<div class="taskTable">
			<div id="notStarted" class="column"> 
				<h1>Not Started</h1> 
				<div class="help">Drag a task from this list to place in queue, progress, or completed.</div> 
			</div>
			<div id="inQueue" class="column "> <h1>In Queue</h1> <div class="help">Dragging a task from here to place in progress or completed.</div> </div>
			<div id="inProgress" class="column"> <h1>In Progress</h1> <div class="help">Drag a task to completed once the work for this task has been reviewed and accepted.</div> </div>
			<div id="completed" class="column"> <h1>Completed</h1> <div class="help">Congrats! This stuff is done!</div> </div>
			<div style="clear: both;"></div>
		</div>


            </fieldset>
        </form>
		<br />
		
		<label for="query">Search Tasks</label>
		<input id="query" name="query" type="search" placeholder="search the app!"></input>
    
    
  </div>
  <div id="footer">
    <p>A work in progress...</p>
    
 
  </div>
</div>




<table>
  <tr>
    <th>Task</th>
    <th>Assigned to</th>
    <th>Due date</th>
    <th>Priority</th>
    <th>Level of effort</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tasks.each do |task| %>
  <tr>
    <td><%= task.task %></td>
    <td><%= task.assigned_to %></td>
    <td><%= task.due_date %></td>
    <td><%= task.priority %></td>
    <td><%= task.level_of_effort %></td>
    <td><%= link_to 'Show', task %></td>
    <td><%= link_to 'Edit', edit_task_path(task) %></td>
    <td><%= link_to 'Destroy', task, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Task', new_task_path %>
