<h1>Listing tasks</h1>

<table>
  <tr>
    <th>Task</th>
    <th>Assigned to</th>
    <th>Due date</th>
    <th>Priority</th>
    <th>Level of effort</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tasks.each do |task| %>
  <tr>
    <td><%= task.task %></td>
    <td><%= task.assigned_to %></td>
    <td><%= task.due_date %></td>
    <td><%= task.priority %></td>
    <td><%= task.level_of_effort %></td>
    <td><%= link_to 'Show', task %></td>
    <td><%= link_to 'Edit', edit_task_path(task) %></td>
    <td><%= link_to 'Destroy', task, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Task', new_task_path %>
